    :root {
        --font-colour: #003049;
        --bg-colour-one: #729ea1;
        --form-colour: #dfbe99;
        --coral-colour: #ec9192;
        --sage-colour: #b5bd89;
    }

    @font-face {
        font-family: sundayBest;
        src: url(./sunday_best/Sunday\ Best\ ttf.ttf);
    }
    
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--font-colour);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80vw; 
    height: 100vh; 
  }
  
  .left, 
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #D6DABE; 
  }

  .left {
    background-image: url(./subtle-prism.svg);
    background-size: auto;
    height: 100%;
    align-items: center; 
    justify-content: space-around;
  }

 .bg-text a:hover, a:visited, a:link, a:active {
      text-decoration: none;
      color: var(--font-colour);
      font-size: 8px;
  }

#bee {
    height: 2.8rem;
    align-self: center;    
}
  .lside {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15% 10%;
    font-size: calc(2.3rem - 2%);
    background: rgba(0, 48, 73, 0.3);
    color: var(--bg-colour-one);
    font-family: sundayBest;
  }

.logo-text {
    padding: 2%;
}

.right p {
    padding: 0% 0% 10% 3%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60ch;
}

#signup p {
    padding: 0% 0% 0% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#signup [for] {
    box-sizing: border-box;
    display: block;
    color: var(--font-colour);
}

#signup {
    background-color: var(--sage-colour);
    width: 100%;
    min-width: 40%;
    box-shadow: 1 1 1;
    margin-bottom: 15%;
}

input {
    box-sizing: border-box;
    width: 95%;
    color: var(--font-colour);
}

#signup h3,
#signup button,
.smallText {
    margin: 3%;
}

  
